body {
  	margin: 0 auto;
}

div#bandeau {
	text-align:center;
	width:fill;
	height:76px;
	background-color:#FFFFAA;
}

.bandeau-block {
	width:200px;
	height:30px;
	background-color:#FFFFAA;
}

.un {
	padding: 8px 5px 5px 5px;
}

.deux {
	padding: 30px 5px 5px 5px;
	position: relative;
  	left: 230px;
	bottom: 50px;
}

.trois {
	padding: 30px 5px 5px 5px;
	position: relative;
  	left: 460px;
	bottom: 116px;
}

div#liseré {
	width:fill;
	height:2px;
	background-color:#AAFFAA;
}

div#corps {
	padding: 5px 20px 20px 20px;
	background: linear-gradient(to right, #aaaaff 5%, #ffffff 95%, #ffbff9);
}

.vert {
	color: #50ff50;
}
