body {
  	margin: 0 auto;
	background-color:#FFFFAA	
}

div#bandeau {
	text-align:center;
	width:fill;
	height:75px;
	background-color:#FFFFAA;
}

div#bandeau-block {
	text-align:center;
	width:200px;
	height:75px;
	padding: 5px 5px 5px 5px;
	background-color:#FFFFAA;
}

div#liseré {
	width:fill;
	height:2px;
	background-color:#AAFFAA;
}

div#corps {
	padding: 5px 20px 20px 20px;
	background-color:#FFFFFF;
}
