body {
  	margin: 0 auto;
	background-color:#FFFFAA	
}

div#bandeau {
	text-align:center;
	width:fill;
	height:76px;
	background-color:#FFFFAA;
}

.bandeau-block {
	width:200px;
	height:40px;
	background-color:#FFFFAA;
}

.un {
	padding: 8px 5px 5px 5px;
}

.deux {
	padding: 30px 5px 5px 5px;
	position: relative;
  	left: 230px;
	bottom: 65px;
}

.trois {
	padding: 30px 5px 5px 5px;
	position: relative;
  	left: 460px;
	bottom: 141px;
}

div#liseré {
	width:fill;
	height:2px;
	background-color:#AAFFAA;
}

div#corps {
	padding: 5px 20px 20px 20px;
	background-color:#FFFFFF;
}
